[submodule "notification-service"]
	path = notification-service
	url = https://github.com/narxoz-diplom/notification-service.git
[submodule "monitoring"]
	path = monitoring
	url = https://github.com/narxoz-diplom/monitoring.git
[submodule "file-service"]
	path = file-service
	url = https://github.com/narxoz-diplom/file-service.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/narxoz-diplom/frontend.git
[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/narxoz-diplom/api-gateway.git
[submodule "auth-service"]
	path = auth-service
	url = https://github.com/narxoz-diplom/auth-service.git
[submodule "course-service"]
	path = course-service
	url = https://github.com/narxoz-diplom/course-service.git
