server:
  port: 8083

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: file-service
          uri: ${FILE_SERVICE_URL:http://localhost:8081}
          predicates:
            - Path=/api/files/**,/api/courses/**,/api/auth/**
        - id: notification-service
          uri: ${NOTIFICATION_SERVICE_URL:http://localhost:8082}
          predicates:
            - Path=/api/notifications/**
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods:
              - GET
              - POST
              - PUT
              - PATCH
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: false

keycloak:
  url: ${KEYCLOAK_URL:http://localhost:8080}
  realm: microservices-realm
  jwks-uri: ${KEYCLOAK_JWKS_URI:http://localhost:8080/realms/microservices-realm/protocol/openid-connect/certs}

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics
  metrics:
    export:
      prometheus:
        enabled: true

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    org.springframework.web: INFO

